* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.18), 0 0 10px rgba(0, 0, 0, 0.22);
}

.show {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid black;
  gap: 3px;
}

.add,
.update {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 5px;
  border: 1px solid black;
}

.total {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 3px;
  border: 1px solid black;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 3px;
  border: 1px solid black;
}
